.moviecardContainer{
    border-radius: 10px;
    cursor: pointer;
}

.moviecardWrapper{
    display: flex;
    flex-direction: column;
}

.moviecardWrapper .imageConatiner img{
    max-width: 300px;
    border-radius: 10px;
}

.cardTitle{
    display: flex;
    justify-content: space-between;
}

.likeBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 3px 5px;
    cursor: pointer;
}

.heartIcon{
    font-weight: 100;
}

.likedHeartIcon{
    font-weight: 100;
    color: red;
}

.moviecardWrapper .cardTitle p{
    font-size: 18px;
    font-weight: bold;
    overflow-wrap: break-word;
    max-width: 300px;
}

.moviecardWrapper .cardTitle p:hover{
    color: #df8e1a;
}

@media (max-width: 768px){
    .moviecardWrapper .imageConatiner img{
        width: 156px;
    }
    .moviecardWrapper .cardTitle p{
        font-size: 15px;
    }
    .moviecardWrapper{
        width: min-content;
    }
}